body {
  font-family: "Helvetica Neue";
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 300px;
}

circle {
  fill: 69b3a2;
  opacity: 0.7;
}

.bar {
  fill: 69b3a2;
  transition: 0.3s;
}